#login {
    a {
        width: auto;
        display: flex;
        justify-content: center;
        text-decoration: underline;
        text-underline-offset: 0.2rem;
    }
    h1 {
        margin: 0 auto;
        padding: 2rem;
    }
}